@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.sectionHero {
    margin-bottom: 50px;
}

.sectionService {
    padding-bottom: 50px;
}

.sectionAutres {
    padding-top: 32px;
    padding-bottom: 50px;
}

h1 {
font-size: 30px;
margin-bottom: 15px;
color: white;
margin: 18px 30px 0 30px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
}


h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;

}

h4 {
    padding-bottom: 22px;
    font-size: 20px;
    font-weight: 700;
}

.inline {
    display: inline;
}

.inlineBlock {
    display: inline-block;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.flexEnd {
    justify-content: flex-end;
}

.alignCenter {
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.aBtn {
    font-size: 20px;
    font-weight: 800;
}

li {
    list-style: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    }
    

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.w50 {
    width: 50%;
}

.bgcolored {
    background-color: #B9625D;
}

.colorWhite {
    color: white;
}

.colored {
    color: #B9625D;
}


/* HEADER */

header nav {
    width: 40%;
}

.btn {
    background-color: #B9625D;
    padding: 16px 55px;
    border-radius: 15px;
}

header {
    padding: 0px 40px;
    background-color: #B9625D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

header img {
    width: 15%;
}


/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    position: relative; /*sortir un élément du flux et le placer en fonction de son parent*/
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit:cover; /* adapter le contenu au block*/
}

.hero div {
    background-color: rgba(40, 40, 40, 0.314);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*décaler de ???% en horizontal et ???% en vertical*/
    text-align: center;
    padding: 64px;
    border-radius: 15px;
    backdrop-filter: blur(10px); /* mettre l'arrière plan en flou, il faut également rajouter un bgcolor*/
}


.hero p {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
    padding: 28px 0 38px 0;
}


/* Nos services */


.containerService div {
    /* background-color: red; */
    width: 75%;
    gap: 20px;
}

.containerService aside {
    /* background-color: pink; */
    width: 20%;
}

aside a {
    color: black;
}

.servImg {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 23px;
}

.card {
    position: relative;
    display: block;
    width: 323px;
    height: 323px;
    border-radius: 23px;
}

.cardh2 {
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.positionAside {
    height: 10%;
    top: 80px;
}

/* filigrane */

.filigrane {
    position: fixed;
    top: 192px;
    left: 0px;
    z-index: -1;
}


/* L'Histoire du château */

.br23 {
    border-radius: 23px;
}